<div class="list-text detail <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="
    <%= func_set %>"
        <% end %> >
            <div class="in">
                <% if header_text %>
                    <div class="hd">
                        <div class="in">
                            <h4><span><a href="#"><%= header_text %></a></span></h4>
                        </div>
                    </div>
                    <% end %>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="4">
                                    <li data-index="1"><span><i>類 別</i>最新消息</span></li>
                                    <li data-index="2"><span><i>發佈單位</i>政風室</span></li>
                                    <li data-index="4"><span><i>發佈日期</i>106-08-22</span></li>
                                </ul>
                            </div>
                        </div>
            </div>
</div>